modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 23300
externalPort = 3003

[[ports]]
localPort = 24710
externalPort = 3000

[userenv]

[userenv.shared]
SMTP_USER = "info@cyberstep.io"
ISR_IMAP_HOST = "imap.mail.yahoo.com"
ISR_IMAP_USER = "serkangrdl@yahoo.com"
ISR_SMTP_USER = "serkangrdl@yahoo.com"
ISR_SMTP_HOST = "smtp.mail.yahoo.com"
ISR_SMTP_PORT = "587"
ENCRYPTION_KEY = "3b22d0caf7a4a84fe91213b15b08e81678277fb7b299291eb37a556785d81cbb"

[userenv.production]

[nix]
channel = "stable-25_05"
